@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #e3f2fd;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} 
header,
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container{
    position: relative;
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
    max-width: 380px;
    width:100%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.logo img{
    width:48px
}

header .chip{
    width: 60px;
}



